html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: black;
    font-size: 200%;
    line-height: 1.5;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol, ul {
  list-style: none;
}

h1,
h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

h1 {
    text-transform: uppercase;
    font-size: 60px;
}

main a {
    color: #851944;
}

main p {
    text-align: justify;
    margin: 20px 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

main {
    width: 90%;
    padding-bottom: 80px;
}

img{
	 border-bottom: 1px solid black;
	 border-right: 1px solid black;
}

.fieldBattle{
	 border-left: 60px solid transparent;
}

.divMain{
	  width: 95%;
    padding-bottom: 80px;
	  margin-left: 16%;
	  margin-right:auto;
    margin-top: 8%;
}

.ruleParagraph{
    color: #FFF;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    font-size: 28px;
    margin-left: 6%;
    padding-right: 2%;
}

.ruleTable{
    margin-top: 16%;
}

.rulesTitle{
	  margin-left: 43.5%;
    margin-top: 7%;
    color: #FFF;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    position: fixed;
}

.indexTitle {
    text-align: center;
    color: #FFF;
    margin-top: 14%;
    margin-left: 43%;
    border-bottom: 10px solid #000;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    position: fixed;
}

.playButtonIndex{
	  margin-top: 40%;
    margin-left: 41%;
    width: 300px;
    text-align: center;
}

.playButtonRule{
    width: 300px;
    text-align: center;
}

.divRulePlayButton{
    margin-left: 42%;
    margin-right: 42%;
    margin-top: 4%;
}

.bodyRules{
    background-color: black;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}

.bodyIndex {
    background-image: url(https://images2.alphacoders.com/523/thumb-1920-523144.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}

.footerPage {
    background-color: #000;
    color: #F2FFFC;
    padding: 60px;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: "Comic Sans", "Arial", sans-serif;
    font-size: 24px;
    text-align: center;
}

.textFields{
      color: white;
      text-align: center;
}
